.page-content {
  width: $mobile-width;
  margin-bottom: 40px;

  @include show-outline(red);

  &__title {
    font-size: 18px;
    line-height: 26px;

    text-align: center;
  }

  &__description {
    font-size: 14px;
    line-height: 26px;

    text-align: center;
  }

  &__title,
  &__description {
    text-transform: uppercase;
  }
}