.tour {

  width: 320px;
  height: 460px;

  &__title {
    font-size: 18px;
    line-height: 26px;
  }

  &__description {
    font-size: 14px;
    line-height: 24px;

    color: #333333;
  }

  &__title,
  &__description {
    text-transform: uppercase;
  }

  &__player {
    width: 320px;
    height: 270px;
  }
  
  &__video {
    width: 320px;
    height: 203px;

    background: gray url("/img/video-mobile@1x.jpg") no-repeat;
  }
  
  &__bar {
    position: relative;

    width: 283px;
    height: 46px;
    margin-top: -47px;

    background: rgba(0, 0, 0, 0.6);
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 240px;
    height: 4px;

    transform: translate(-50%, -50%);

    background: rgba(255, 255, 255, 0.2);
  }

  &__indicator {
    width: 10px;
    height: 10px;
    margin-top: -3px;
    margin-left: 14%;
    border-radius: 50%;

    background: white;

    cursor: pointer;
  }

  &__controls {
    width: 283px;
    height: 66px;

    background: #f2f2f2;
  }

  &__control {
    width: 22px;
    height: 22px;

    font-size: 0;

    border: none;
    background: #f2f2f2 no-repeat;
    
    &--replay {
      background-image: url("/img/icon-video-replay.svg");
    }
    
    &--subtitles {
      width: 36px;

      background-image: url("/img/icon-video-subtitles.svg");
    }
    
    &--fullscreen {
      background-image: url("/img/icon-video-fullscreen.svg");
    }
  }

}