/* Safe inheritance */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Verdana", "Times New Roman", sans-serif;
  font-weight: normal;
  font-size: $base-font-size;
  line-height: 24px;

  color: black;
  background: white;
}

.button {
  display: inline-block;

  padding: 15px 45px;

  width: 280px;
  min-height: 57px;

  background: $main-color;
  color: white;

  font-weight: normal;
  font-size: 21px;
  line-height: 26px;

  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #669ec0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
