.copyrights {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.copyrights__author {
  font-size: $base-font-size;
  line-height: 26px;

  text-transform: uppercase;
}

.copyrights__logo:hover {
  fill: #81b3d2;
}

@media (min-width: $tablet-width) {
  .copyrights {
    margin-top: 45px;
    margin-left: 80px;
  }

  .copyrights__link {
    display: inline-block;

    margin-left: 10px;
  }
}

@media (min-width: $desktop-width) {
  .copyrights {
    margin-left: 307px;
  }

  .copyrights__link {
    margin-left: 0;
  }
}
