.feature {
  display: flex;
  flex-direction: column;

  min-width: 320px;
  min-height: 130px;

  @include show-outline(green);

  padding: 42px 29px 37px 20px;
}

.feature__title {
  font-weight: bolder;
  font-size: 18px;
  line-height: 18px;
}

.feature__number,
.feature__description {
  font-size: $base-font-size;
  line-height: 21px;
}

.feature--gray {
  min-height: 168px;

  padding-top: 33px;
  padding-bottom: 20px;

  background: #eeeeee;
}

.feature__title,
.feature__number,
.feature__description {
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 15px;
}

.feature__description {
  margin-bottom: 0;
}

.feature--apartments,
.feature--souvenirs,
.feature--food {
  margin: 0;
  padding: 0;

  padding-left: 70px;

  background-size: 40px;
  background-repeat: no-repeat;
}

.feature--apartments {
  margin-top: 18px;

  background-position: 20px 6px;
  background-image: url("/img/icon-house.svg");
}

.feature--souvenirs {
  margin-top: 9px;
  min-height: 91px;

  background-position: 23px -3px;
  background-size: 11%;
  background-image: url("/img/icon-gift.svg");
}

.feature--food {
  margin-top: 19px;
  margin-bottom: 20px;

  background-position: 19px 1px;
  background-size: 12%;
  background-image: url("/img/icon-burger.svg");
}

.feature--apartments .feature__title,
.feature--apartments .feature__description,
.feature--souvenirs .feature__title,
.feature--souvenirs .feature__description,
.feature--food .feature__title,
.feature--food .feature__description
{
  margin-bottom: 0;

  text-align: left;
}

.feature--apartments .feature__title,
.feature--apartments .feature__description
{
  margin-top: 20px;
}

.feature--souvenirs .feature__title,
.feature--souvenirs .feature__description
{
  margin-top: 15px;
}

.feature--food .feature__title,
.feature--food .feature__description {
  margin-top: 15px;
}

/**
Нормально, что он тут?
*/
.feature-wrapper {
  width: 320px;

  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .feature-wrapper {
    width: 700px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
  }

  .feature {
    width: 232px;
    height: 247px;
  }

  .feature--apartments,
  .feature--souvenirs,
  .feature--food {
    padding-left: 0;
    padding-top: 70px;

    background-position-x: 50%;
  }
}

@media (min-width: $desktop-width) {
  .feature-wrapper {
    width: 1200px;
  }

  .feature {
    width: 400px;
    height: 332px;
  }
}
