.feature-image {
  background: $main-color;
  color: white;
}

.feature-image .feature {
  min-height: 239px;
}

.feature-image--triangled .feature {
  padding-top: 90px;
}

.feature-image__picture {
  width: 320px;
  height: 260px;

  background-repeat: no-repeat;
}

.feature-image__picture--main-city {
  background-image: url("/img/main-city-mobile@1x.jpg");
}

.feature-image__picture--main-bridge {
  background-image: url("/img/main-bridge-mobile@1x.jpg");
}

@media (min-width: $tablet-width) {
  .feature-image {
    display: flex;

    flex-grow: 1;
    width: 100%;
  }

  .feature-image__picture {
    width: 512px;
    height: 260px;
  }

  .feature-image__picture--main-city {
    background-image: url("/img/main-city-tablet@1x.jpg");
  }

  .feature-image__picture--main-bridge {
    background-image: url("/img/main-bridge-tablet@1x.jpg");
  }

  .feature-image:first-child {
    order: -8;
  }

  .feature-image--triangled .feature {
    padding-top: 45px;
  }

  .feature-image--triangled .feature-image__picture {
    height: 253px;
  }

  .feature-image--reversed .feature {
    order: 2;

    width: 256px;
  }

  .feature-image--reversed .feature-image__picture {
    width: 512px;

    @include show-outline(green);
  }

  .feature-image:nth-child(1) > .feature {
    min-width: 255px;
  }

  .feature-image:nth-child(1) > .feature-image__picture {
    min-width: 512px;

    @include show-outline(green);
  }

  .feature-image:nth-child(2) {
    display: flex;

    flex-grow: 1;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .feature-image {
    display: flex;

    flex-grow: 1;
    width: 100%;
  }

  .feature-image--reversed .feature {
    order: 2;

    width: 400px;
    height: 255px;
  }

  .feature-image--reversed .feature-image__picture {
    width: 800px;
    height: 256px;

    @include show-outline(green);
  }

  .feature-image:nth-child(1) > .feature {
    width: 400px;
    height: 257px;
  }

  .feature-image:nth-child(1) > .feature-image__picture {
    width: 800px;

    @include show-outline(green);
  }
}
