.feature-image {
  background: $main-color;
  color: white;
}

.feature-image .feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 217px;
}

.feature-image--triangled {
  position: relative;
}

.feature-image--triangled::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 102%;
  height: 5%;
  background: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 104% auto;
}

.feature-image--triangled .feature__description,
.feature-image--reversed .feature__description {
  text-align: center;
}

.feature-image--triangled .feature__title {
  margin-top: 70px;
  margin-bottom: 11px;
}

.feature-image--triangled .feature__number {
  margin-bottom: 15px;
}

.feature-image--reversed {
  min-height: 450px;
}

.feature-image--reversed .feature {
  min-height: 189px;
}

.feature-image--reversed .feature-image__picture {
  min-height: 260px;
}

.feature-image--reversed .feature__title {
  margin-top: 40px;
  margin-bottom: 18px;
}

.feature-image--reversed .feature__number {
  margin-bottom: 12px;
}

.feature-image--reversed .feature__description {
  margin-left: 10px;
}

.feature-image__picture {
  width: 320px;
  height: 260px;

  background-repeat: no-repeat;
}

.feature-image__promo {
  width: 320px;
  height: 260px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ded3d1;
}

@media (min-width: $tablet-width) {
  .feature-image {
    display: flex;

    flex-grow: 1;
    width: 100%;
  }

  .feature__title {
    width: 126px;
  }

  .feature-image:first-child .feature {
    justify-content: stretch;
  }

  .feature-image--triangled::before {
    display: none;
  }

  .feature-image--triangled .feature__number {
    margin-bottom: 18px;
  }

  .feature-image--reversed .feature__title {
    margin-top: 0;
    margin-bottom: 15px;
    width: 175px;
  }

  .feature-image__picture {
    width: 512px;
    height: 256px;
  }

  .feature-image--triangled {
    order: -8;

    position: static;

    min-height: 257px;
  }

  .feature--house {
    order: -7;
  }

  .feature--souvenir {
    order: -5;
  }

  .feature--food {
    order: -6;
  }

  .feature-image--triangled .feature__title {
    margin-top: 43px;
  }

  .feature-image--triangled .feature-image__picture {
    height: 257px;
  }

  .feature-image--reversed {
    min-height: 255px;
  }

  .feature-image--reversed .feature {
    order: 1;

    width: 256px;
  }

  .feature-image--reversed .feature-image__picture {
    width: 512px;
    min-height: 255px;
  }

  .feature-image:nth-child(1) > .feature {
    min-width: 255px;
  }

  .feature-image:nth-child(1) > .feature-image__picture {
    min-width: 512px;
  }

  .feature-image:nth-child(2) {
    display: flex;

    flex-grow: 1;
    width: 100%;
  }

  .feature-image__promo {
    width: 512px;
    height: 257px;
  }
}

@media (min-width: $desktop-width) {
  .feature-image {
    display: flex;

    flex-grow: 1;
    width: 100%;
  }

  .feature-image--triangled .feature__title {
    margin-top: 48px;
  }

  .feature-image--reversed .feature {
    width: 400px;
    height: 255px;
  }

  .feature-image--reversed .feature-image__picture {
    width: 800px;
    height: 256px;
  }

  .feature-image:nth-child(1) > .feature {
    min-width: 251px;
    width: 400px;
    height: 251px;
  }

  .feature-image:nth-child(1) > .feature-image__picture {
    width: 800px;
  }

  .feature-image--reversed .feature__title {
    margin-top: 51px;
  }

  .feature-image--reversed .feature__description {
    width: 232px;
  }

  .feature-image__promo {
    width: auto;
    height: auto;

    margin-top: -76px;
  }

  .feature-image__picture {
    overflow: hidden;
  }
}
