.form {
  display: flex;
  flex-wrap: wrap;

  width: 320px;
}

.form__group {
  margin: 0;
  padding: 0;

  border: none;
}

.form__control {
  margin-bottom: 20px;
}

.form__legend {
  margin-bottom: 15px;

  font-weight: bolder;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;

  text-align: center;
}

.form__label {
  display: inline-block;

  min-height: 60px;

  font-size: $font-size-standard;
  line-height: 26px;

  text-transform: uppercase;

  cursor: pointer;
}


.form__label--radio,
.form__label--checkbox {
  padding-left: 70px;
  position: relative;

  font-weight: bolder;
  text-transform: none;
}

.form__label--radio::before,
.form__label--radio::after,
.form__label--checkbox::before,
.form__label--checkbox::after {
  position: absolute;
  top: -15px;
  left: 0;

  background-color: #f2f2f2;
  content: "";
}

.form__label--radio::before,
.form__label--radio::after {
  border-radius: 50%;
}

.form__label--checkbox::before,
.form__label--checkbox::after {
  border-radius: 5%;
}

.form__label--radio::before,
.form__label--checkbox::before {
  width: 60px;
  height: 60px;
}

.form__label--radio::after,
.form__label--checkbox::after {
  display: none;

  z-index: 2;
}

.form__label--radio::after {
  top: 3px;
  left: 17px;

  width: 23px;
  height: 23px;

  background: black;
}

.form__label--checkbox::after {
  width: 60px;
  height: 60px;
}

.form__radio:checked + .form__label--radio::after {
  display: block;
}

.form__checkbox:checked + .form__label--checkbox::after {
  display: block;

  top: 10px;
  left: 18px;

  background-color: transparent;
  background-image: url("/img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__text,
.form__textarea {
  width: 194px;
  height: 58px;
  border: none;
  padding: 20px;

  background: #f2f2f2;

  font-size: 18px;
  line-height: 26px;
}

.form__text--phone,
.form__text--email {
  position: relative;

  width: 280px;

  padding-right: 60px;

  background-repeat: no-repeat;
  background-position: 236px;
}

.form__text--phone {
  background-image: url("/img/icon-phone.svg");
}

.form__text--email {
  background-image: url("/img/icon-mail.svg");
}

.form__textarea {
  min-width: 280px;
  min-height: 160px;
}

.form__button {
  width: 280px;
  height: 60px;
}

@media (min-width: $tablet-width) {
  .form {
    width: 648px;
  }

  .form__group {
    width: 324px;
  }

  .form__group:nth-of-type(1),
  .form__group:nth-of-type(3)
  {
    width: 324px;
  }

  .form__group:nth-of-type(3) {
    order: -1;
  }

  .form__group:nth-of-type(4)
  {
    flex-grow: 1;

    width: 100%;
  }

  .form__group:last-of-type .form__label,
  .form__group:last-of-type .form__textarea {
    width: 647px;
  }

  .form__group-wrapper {
    display: flex;
    flex-direction: column;

    width: 650px;
  }

  .form__label--phone,
  .form__label--email,
  .form__text--phone,
  .form__text--email
  {
    width: 100%;
  }

  .form__text--phone,
  .form__text--email {
    background-position: 606px;
  }

  .form__group:nth-of-type(4) .form__group-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 485px;
    margin: 0 auto;
  }

  .form__group:nth-of-type(4) .form__control {
    width: 242px;
  }

  .form__label--checkbox {

  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 960px;
  }

  .form__group,
  .form__group:nth-of-type(1),
  .form__group:nth-of-type(3)
  {
    width: 480px;
  }

  .form__group:last-of-type {
    flex-grow: 1;

    width: 100%;
  }

  .form__group-wrapper {
    display: flex;
    flex-direction: row;

    width: 960px;
  }

  .form__group:nth-of-type(2) .form__text--phone,
  .form__group:nth-of-type(2) .form__text--email
  {
    width: 315px;
  }

  .form__group:nth-of-type(2) .form__group-wrapper,
  .form__group:nth-of-type(4) .form__group-wrapper
  {
    justify-content: space-around;

    width: 960px;
  }

  .form__group:nth-of-type(4) .form__control {
    width: 198px;
  }
}