.form {
  display: flex;
  flex-wrap: wrap;

  width: 320px;
}

.form__group {
  margin: 0;
  padding: 0;

  border: none;
}

.form__control {
  margin-bottom: 20px;
}

.form__legend {
  margin: 0;
  padding: 0;

  margin-bottom: 35px;

  font-weight: bolder;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;

  text-align: center;
}

.form__label {
  display: inline-block;

  min-height: 60px;

  font-size: $base-font-size;
  line-height: 26px;

  text-transform: uppercase;

  cursor: pointer;
}

.form__label--radio,
.form__label--checkbox {
  padding-left: 70px;
  position: relative;

  font-weight: bolder;
  text-transform: none;
}

.form__label--radio::before,
.form__label--radio::after,
.form__label--checkbox::before,
.form__label--checkbox::after {
  position: absolute;
  top: -15px;
  left: 0;

  background-color: #f2f2f2;
  content: "";
}

.form__label--radio::before,
.form__label--radio::after {
  border-radius: 50%;
}

.form__label--checkbox::before,
.form__label--checkbox::after {
  border-radius: 5%;
}

.form__label--radio::before,
.form__label--checkbox::before {
  width: 60px;
  height: 60px;
}

.form__label--radio::after,
.form__label--checkbox::after {
  display: none;

  z-index: 2;
}

.form__label--radio::after {
  top: 3px;
  left: 17px;

  width: 23px;
  height: 23px;

  background: black;
}

.form__label--checkbox::after {
  width: 60px;
  height: 60px;
}

.form__radio:checked + .form__label--radio::after {
  display: block;
}

.form__checkbox:checked + .form__label--checkbox::after {
  display: block;

  top: 10px;
  left: 18px;

  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__text:hover,
.form__textarea:hover,
.form__label:hover::before {
  background-color: #e5e5e5;
}

.form__text:focus,
.form__text:active,
.form__textarea:focus,
.form__textarea:active {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}

.form__text,
.form__textarea {
  width: 194px;
  height: 58px;
  border: none;
  padding: 20px;

  background: #f2f2f2;

  font-size: 18px;
  line-height: 26px;
}

.form__text {
  height: 59px;
  border: 0;

  font-size: 16px;
  font-weight: 700;
  color: black;
  background-color: #f2f2f2;

  overflow: hidden;
}

.form__textarea {
  width: 100%;
  height: 160px;
  padding: 16px 20px 20px;
  min-width: 280px;
  min-height: 160px;
  border: 0;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;

  resize: none;
}

.form__text--user-name {
  width: 232px;
}

.form__text--phone,
.form__text--email {
  position: relative;

  width: 280px;

  padding-right: 60px;

  background-repeat: no-repeat;
  background-position: 245px 16px;

  font-size: 16px;
}

.form__button {
  width: 280px;
  height: 60px;

  border: none;

  font-size: 18px;
}

.form__group--personal,
.form__group--contacts,
.form__group--feedback,
.form__group--places,
.form__group--message {
  margin: 0 auto;
  width: 283px;
}

.form__group--personal {
  display: flex;
  flex-direction: column;

  margin-bottom: 28px;
}

.form__group--contacts {
  margin-bottom: 34px;
}

.form__group--contacts .form__label {
  margin-left: 25px;

  min-height: 37px;
}

.form__group--contacts .form__item {
  margin-bottom: 9px;
}

.form__group--personal .form__label {
  margin-right: 10px;
}

.form__group--personal .form__legend {
  margin-left: -11px;
  margin-bottom: 20px;
}

.form__group--contacts .form__legend {
  margin-bottom: 19px;
}

.form__group--feedback {
  margin-bottom: 21px;
}

.form__group--feedback .form__item {
  margin-bottom: 9px;
}

.form__group--feedback .form__label--radio {
  font-size: 18px;
  padding-left: 78px;
}

.form__group--places {
  margin-bottom: 8px;
}

.form__group--places .form__legend {
  margin-bottom: 28px;
}

.form__group--places .form__item {
  margin-bottom: 20px;
}

.form__group--places .form__label {
  padding-left: 79px;
  font-size: 19px;
}

.form__group--message .form__legend {
  margin-bottom: 17px;
}

.form__group--message .form__label {
  margin-bottom: 42px;
}

.form__item--phone,
.form__item--email {
  position: relative;
}

.form__item--phone::after,
.form__item--email::after,
.form__item--phone::before,
.form__item--email::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.form__item--phone::before,
.form__item--email::before {
  z-index: 2;

  background-repeat: no-repeat;
  background-size: 36%;
  background-position: 50% 43%;
}

.form__item--phone::before {
  background-image: url("../img/icon-phone.svg");
}

.form__item--email::before {
  background-image: url("../img/icon-mail.svg");
}

.form__group--controls {
  margin: 0 auto;
  width: 283px;
}

.form__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .form__group--controls {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin: auto;
  }

  .form__note {
    display: block;

    margin-top: 21px;
    text-transform: uppercase;
  }

  .form {
    width: 648px;
  }

  .form__group--personal {
    width: 297px;
  }

  .form__group--feedback {
    position: relative;
    order: -1;
    width: 300px;
  }

  .form__group--feedback::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -12px;
    width: 1px;
    height: 292px;
    background-color: #dbdbdb;
  }

  .form__group--contacts .form__legend {
    background: white;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 19px;
    margin-top: -10px;
  }

  .form__group--places {
    flex-grow: 1;

    width: 100%;
    margin-bottom: 31px;

    border-top: 1px solid #e5e5e5;
  }

  .form__group:last-of-type .form__label,
  .form__group:last-of-type .form__textarea {
    width: 647px;
  }

  .form__group-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 650px;
  }

  .form__legend {
    margin-bottom: 72px;

    font-size: 21px;
  }

  .form__group--feedback .form__legend {
    width: 270px;
  }

  .form__group--personal .form__legend {
    margin-bottom: 57px;
  }

  .form__group--personal .form__item {
    width: 310px;
  }

  .form__group--personal .form__label {
    margin-right: 9px;
    margin-left: 45px;
  }

  .form__text--user-name {
    width: 216px;
  }

  //.form__text--user-name,
  .form__text--patronymic,
  .form__text--lastname {
    width: 177px;
  }

  .form__label--phone,
  .form__label--email,
  .form__text--phone,
  .form__text--email {
    width: 100%;
  }

  .form__text--phone,
  .form__text--email {
    background-position: 606px;
  }

  .form__group--contacts {
    margin-top: 21px;
    margin-bottom: 48px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
  }

  .form__group--contacts .form__item {
    margin-bottom: 23px;
  }

  .form__group--feedback .form__item {
    margin-bottom: 20px;
    margin-left: -12px;
  }

  .form__group--places .form__group-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 509px;
    margin: 0 auto;
  }

  .form__group--places .form__control {
    width: 242px;
  }

  .form__group--places .form__legend {
    width: 410px;
    margin: 0 auto;
    margin-top: -26px;
    margin-bottom: 57px;

    background: white;
  }

  .form__group--places .form__item {
    margin-bottom: 29px;
    width: 206px;
  }

  .form__item--devil {
    order: -4;
  }

  .form__item--guide-park {
    order: -2;
  }

  .form__item--bell {
    order: -3;
  }

  .form__item--rocks {
    order: -1;
  }

  .form__item--rocks .form__label--checkbox {
    width: 210px;
  }

  .form__group--message {
    width: 100%;
    border-top: 1px solid #e5e5e5;
  }

  .form__group--message .form__legend {
    margin: 0 auto;
    margin-top: -14px;
    margin-bottom: 57px;
    background: white;
    width: 410px;
  }

  .form__group--message .form__label {
    width: 100%;
    margin-bottom: 47px;
  }

  .form__button {
    width: 325px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 960px;
    justify-content: space-around;
  }

  .form__text,
  .form__textarea {
    font-size: 16px;
  }

  .form__group--personal,
  .form__group--feedback {
    width: 100%;
  }

  .form__group:last-of-type {
    flex-grow: 1;

    width: 100%;
  }

  .form__group-wrapper {
    display: flex;
    flex-direction: row;

    width: 960px;
  }

  .form__group--contacts .form__text--phone,
  .form__group--contacts .form__text--email {
    width: 315px;
  }

  .form__group--contacts .form__group-wrapper,
  .form__group--places .form__group-wrapper {
    justify-content: space-between;

    width: 960px;
  }

  .form__group--places .form__control {
    width: 198px;
  }

  .form__group--personal .form__legend {
    width: 260px;
  }

  .form__group--feedback .form__legend {
    width: 392px;
  }

  .form__group--personal {
    width: 423px;
  }

  .form__group--places {
    width: 100%;
  }

  .form__group--feedback {
    width: 473px;
  }

  .form__group--feedback::after {
    top: 6px;
    right: 8px;
  }

  .form__group--personal .form__item {
    width: 440px;
  }

  .form__text--user-name {
    width: 346px;
  }

  .form__text--patronymic,
  .form__text--lastname {
    width: 307px;
  }

  .form__group--contacts {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    margin-bottom: 51px;
  }

  .form__group--contacts .form__legend {
    width: 400px;
    margin-bottom: 72px;
  }

  .form__group--contacts .form__container {
    display: flex;
    justify-content: space-between;

    width: 100%;
  }

  .form__surprise {
    display: none;
  }

  .form__label--phone {
    width: 80px;
    margin-left: 0;
  }

  .form__group--contacts .form__label {
    margin-left: 0;
  }

  .form__label--email {
    width: 161px;
  }

  .form__group:last-of-type .form__label,
  .form__group:last-of-type .form__textarea {
    width: 100%;
  }

  .form__button {
    width: 479px;
  }

  .form__group--message .form__label {
    margin-bottom: 52px;
  }

  .form__item--guide-park {
    margin-right: -20px;
  }
}
