.logo {
  position: absolute;
  bottom: -28px;
  left: 50%;
  z-index: 2;

  width: 103px;
  height: 84px;

  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .logo {
    top: 0;
  }
}
