.map__container {
  position: relative;
}

.map__marker {
  position: absolute;
  top: 45%;
  left: 45%;
}

.map__wrapper {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .map__wrapper {
    width: 700px;
  }

  .map__container {
    @include show-outline(green);
  }
}
