.mpa {
  display: none;
}

.map__container {
  position: relative;
}

.map__wrapper {
  margin: 0 auto;
  width: 320px;
}


.map__marker {
  position: absolute;
  left: calc(50% - 14px);
  top: calc(50% - 14px);

  box-sizing: content-box;
  width: 17px;
  height: 17px;

  font-size: 0;

  background-color: #81b4d4;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .map {
    display: block;
  }

  .map__wrapper {
    width: 770px;
    height: 351px;
  }

  .map__container {
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .map__wrapper {
    width: 1200px;
  }
}
