.map__container {
  position: relative;
}

.map__marker {
  position: absolute;
  top: 45%;
  left: 45%;
}

.map__wrapper {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .map__wrapper {
    width: 770px;
    height: 351px;
  }

  .map__container {
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .map__wrapper {
    width: 1200px;
  }
}
