.navigation {
  padding-bottom: 56px;

  @include show-outline(green);
}

.navigation__list {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 18px;
  line-height: 40px;

  text-transform: uppercase;

  background: $mainColor;
}

.navigation__list--show {
  display: block;
}

.navigation__item {
  text-align: center;
}

.navigation__link {
  color: white;
  text-decoration: none;
}

/*
@todo-s: refactor this block. should act like a toggle button since this point.

- differentiate between open/close states (display sandwich/close icon)
- implement both using CSS
*/
.navigation__sandwich {
  position: relative;

  width: 100%;
  height: 56px;

  background: white;
}

.navigation__sandwich-control {
  position: absolute;
  top: 1px;
  right: 0;

  border: none;
  width: 64px;
  height: 56px;

  background: none;

  font-size: 0;

  cursor: pointer;

  &::after {
    position: absolute;
    right: 22px;

    width: 24px;
    height: 4px;

    background-color: $mainColor;

    box-shadow: 0 -8px 0 0 $mainColor,
      0 8px 0 0 $mainColor;

    content: "";
  }
}
