.navigation {
  position: relative;

  width: 320px;
  margin: 0 auto;

  padding-bottom: 56px;

  @include show-outline(green);
}

.navigation__list {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 18px;
  line-height: 40px;

  text-transform: uppercase;

  background: $main-color;
}

.navigation--show .navigation__list {
  display: block;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__item:nth-child(2) {
  margin-right: 207px;
}

.navigation__link {
  font-size: 14px;
  line-height: 26px;

  color: white;
  text-decoration: none;
}

/*
@todo-s: refactor this block. should act like a toggle button since this point.

- differentiate between open/close states (display sandwich/close icon)
- implement both using CSS
*/
.navigation__sandwich {
  position: relative;

  width: 100%;
  height: 56px;

  background: white;
}

.navigation__sandwich-control {
  position: absolute;
  top: 1px;
  right: 0;

  border: none;
  width: 64px;
  height: 56px;

  background: none;

  font-size: 0;

  cursor: pointer;

  &::after {
    position: absolute;
    right: 22px;

    width: 24px;
    height: 4px;

    background-color: $main-color;

    box-shadow: 0 -8px 0 0 $main-color,
      0 8px 0 0 $main-color;

    content: "";
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    width: auto;
    margin: 0;
    padding-bottom: 0;
  }

  .navigation__list {
    width: 100%;

    background: white;
    color: black;
  }

  .navigation__link {
    color: inherit;
  }

  .navigation--show .navigation__list {
    display: flex;
  }

  .navigation__sandwich-control {
    display: none;
  }

  .navigation__wrapper {
    display: flex;

    width: 700px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .navigation--show .navigation__list {
    justify-content: space-around;
  }

  .navigation__wrapper {
    width: 1070px;
  }
}
