.page-content {
  min-width: $mobile-width;

  margin-bottom: 28px;

  @include show-outline(red);
}

.page-content__category {
  display: block;

  margin: 0 auto;
  width: 320px;
}

.page-content__title,
.page-content__description {
  margin: 0;
}

.page-content__title {
  margin-bottom: 27px;

  font-size: 18px;
  line-height: 26px;

  text-align: center;
}


.page-content__description {
  font-size: $base-font-size;
  line-height: 26px;

  text-align: center;
}

.page-content__title,
.page-content__description {
  text-transform: uppercase;
}

.page-content__feedback {
  margin: 0 auto;
  width: 320px;

  @include show-outline(green);
}

@media (min-width: $tablet-width) {
  .page-content {
    margin-bottom: 0;
  }

  .page-content__category {
    width: 550px;
    min-height: 160px;
  }

  .page-content__feedback {
    width: 650px;
  }

  .page-content__title {
    font-size: 21px;
    font-family: "PT Sans Bold", Verdana, sans-serif;
  }

  .page-content__title br,
  .page-content__description br
  {
    display: none;
  }

  .page-content__button {
    width: 460px;
    min-height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .page-content__feedback {
    width: 960px;
  }
}
