.page-content {
  min-width: $mobile-width;

  margin-bottom: 36px;
}

.page-content--photo {
  margin-bottom: 27px;
}

.page-content__category {
  display: block;

  margin: 0 auto;
  width: 320px;
  min-height: 155px;
}

.page-content__category--index {
  margin-bottom: 16px;
}

.page-content__title,
.page-content__description {
  margin: 0;
  text-transform: uppercase;
}

.page-content__title {
  margin-bottom: 27px;

  font-size: 18px;
  line-height: 26px;

  text-align: center;
}


.page-content__description {
  font-size: $base-font-size;
  line-height: 26px;

  text-align: center;
}

.page-content__feedback {
  margin: 0 auto;
  width: 320px;
}

.page-content--feedback .page-content__description {
  line-height: 24px;
}

.page-content--feedback .page-content__category {
  margin-bottom: 27px;
}

.page-content__description--photo {
  width: 100%;
  padding: 0 21px;

  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .page-content--feedback .page-content__category {
    margin-bottom: 20px;
  }

  .page-content {
    margin-bottom: 0;
  }

  .page-content__title--photo {
    margin-bottom: 34px;

    font-size: 24px;
    font-family: "PT Sans Bold", "Verdana", sans-serif;
  }

  .page-content__description {
    width: 510px;
    margin: 0 auto;
  }

  .page-content__category--form .page-content__title {
    margin-bottom: 34px;
    font-size: 31px;
  }

  .page-content__category--form .page-content__description {
    width: 440px;
  }

  .page-content__category {
    width: 550px;
    min-height: 160px;

    margin-bottom: 0;
  }

  .page-content__category--index {
    width: 510px;
    margin-bottom: 0;
  }

  .page-content__category--index .page-content__title {
    margin-bottom: 35px;
    font-size: 21px;
  }

  .page-content__category--photo {
    margin-bottom: 15px;
  }

  .page-content__feedback {
    width: 650px;
  }

  .page-content__title br,
  .page-content__description br {
    display: none;
  }

  .page-content__button {
    width: 460px;
    min-height: 58px;
  }

  .page-content__description--photo {
    width: 470px;
  }
}

@media (min-width: $desktop-width) {
  .page-content__feedback {
    width: 960px;
  }

  .page-content__category--photo {
    margin-bottom: 14px;
  }

  .page-content__title {
    margin-bottom: 24px;
  }

  .page-content__title--photo {
    margin-bottom: 30px;
  }

  .page-content__description--photo {
    width: 470px;
  }

  .page-content--feedback .page-content__description {
    width: 488px;
  }

  .page-content--feedback .page-content__category {
    margin-bottom: 0;
  }
}
