.page-footer {
  display: block;

  min-width: $mobile-width;

  @include show-outline(red);
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    /*
    Здесь width или min-width должен быть?
    У нас ведь центровщик есть, а основной блок пускай тянется как хочет.
    */
    min-width: 770px;
    min-height: 120px;
    //min-width: $mobile-width;
  }

  .page-footer__wrapper {
    width: 650px;

    flex-direction: row;
    align-items: stretch;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    min-width: 1037px;
  }
}
