.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  margin: 0 auto;
}

.slider__title,
.slider__description {
  margin: 0;
  padding: 0;

  font-size: $font-size-standard;
  line-height: 24px;
}

.slider__title,
.slider__total-likes {
  font-weight: bolder;
  text-transform: uppercase;
}

.slider__description {
  color: #333333;
}

.slider__item {
  width: 280px;
  height: 370px;
}

@media (min-width: $tablet-width) {

  .slider__item {
    width: 325px;
    height: 350px;
  }

  .slider__image {
    @include show-outline(green);
  }

  .slider__item:first-child {
    flex-grow: 1;

    width: 100%;
    height: 480px;

    @include show-outline(green);
  }

  .slider__item:first-child .slider__image {
    width: 650px;
    height: 400px;

    @include show-outline(green);
  }

  .slider__wrapper {
    flex-direction: row;
    flex-wrap: wrap;

    width: 650px;

    margin: 0 auto;
  }

}

@media (min-width: $desktop-width) {
  .slider__item {
    width: 400px;
    height: 267px;
  }

  .slider__item:first-child {
    flex-grow: 1;

    width: 1200px;
    height: 400px;

    @include show-outline(green);
  }

  .slider__item:first-child .slider__image {
    width: 100%;

    @include show-outline(green);
  }

  .slider__wrapper {
    width: 1200px;
  }

  .slider__info {
    position: relative;
    margin-top: -48px;
    width: 100%;

    background: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .slider__social {
    position: absolute;
    top: 10px;
    right: 40px;
  }

}