.slider__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  margin: 0 auto;
}

.slider__title,
.slider__description {
  margin: 0;
  padding: 0;

  font-size: $base-font-size;
  line-height: 24px;
}

.slider__title,
.slider__total-likes {
  font-weight: bolder;
  text-transform: uppercase;
}

.slider__description {
  color: #333333;
}

.slider__item {
  width: 280px;
  min-height: 416px;
}

.slider__item:nth-last-child(2) .slider__image,
.slider__item:last-child .slider__image {
  margin-bottom: 5px;
}

.slider__image {
  margin-bottom: 10px;
}

.slider__like {
  display: inline-block;
  margin-top: 5px;
  margin-right: 12px;

  font-size: 0;
}

@media (min-width: $tablet-width) {
  .slider {
    margin-bottom: 58px;
  }

  .slider__item {
    width: 323px;
    min-height: 347px;
  }

  .slider__item:first-child {
    flex-grow: 1;

    width: 100%;
    min-height: 480px;
  }

  .slider__item:first-child .slider__image {
    width: 650px;
    height: 400px;

    margin-bottom: 15px;
  }

  .slider__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 21px;
  }

  .slider__item:first-child .slider__info {
    width: 612px;
  }

  .slider__item:nth-child(2) .slider__info
  {
    width: 275px;
  }

  .slider__item:nth-child(3) .slider__info {
    width: 275px;
  }

  .slider__item:last-child .slider__info {
    width: 280px;
  }

  .slider__wrapper {
    flex-direction: row;
    flex-wrap: wrap;

    width: 650px;

    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin-bottom: 52px;
  }

  .slider__item {
    width: 400px;
    min-height: 275px;
  }

  .slider__item:first-child {
    flex-grow: 1;

    width: 1200px;
    min-height: 400px;
  }

  .slider__item:first-child .slider__image {
    width: 100%;
  }

  .slider__wrapper {
    width: 1200px;
  }

  .slider__item:first-child .slider__info,
  .slider__info
  {
    position: relative;

    margin-top: -96px;
    margin-left: 0;
    padding-left: 23px;
    width: 100%;
    min-height: 82px;

    background: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .slider__item:first-child .slider__info,
  .slider__item:nth-child(2) .slider__info,
  .slider__item:nth-child(3) .slider__info,
  .slider__item:last-child .slider__info {
    width: 100%;
  }

  .slider__social {
    position: absolute;
    top: 22px;
    right: 22px;
  }

  .slider__social svg {
    fill: white;
  }
}
