.tag {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.tag__link {
  font-weight: bolder;
  font-size: 21px;
  line-height: 26px;

  color: black;
  text-decoration: none;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .tag {
    margin-top: 45px;
    margin-bottom: 0;
  }
}