.tour {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  height: 460px;

  margin: 0 auto;
}

.tour__title {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 27px;
  padding: 0;

  text-align: center;
  font-size: 18px;
  line-height: 26px;
}

.tour__description {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;

  font-size: $base-font-size;
  line-height: 24px;
  text-align: center;

  color: #333333;
}

.tour__title,
.tour__description {
  text-transform: uppercase;
  width: 240px;
}

.tour__player {
  position: relative;

  width: 320px;
  height: 270px;
}

.tour__video {
  width: 320px;
  height: 203px;

  background: gray url("/img/video-mobile@1x.jpg") no-repeat;
}

.tour__bar {
  position: relative;

  width: 283px;
  height: 46px;
  margin-top: -46px;
  margin-left: 20px;

  background: rgba(0, 0, 0, 0.6);
}

.tour__line {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 240px;
  height: 4px;

  transform: translate(-50%, -50%);

  background: rgba(255, 255, 255, 0.2);
}

.tour__indicator {
  width: 10px;
  height: 10px;
  margin-top: -3px;
  margin-left: 14%;
  border-radius: 50%;

  background: white;

  cursor: pointer;
}

.tour__controls {
  position: absolute;
  top: 202px;
  left: 19px;

  width: 283px;
  height: 66px;

  background: #f2f2f2;
}

.tour__control {
  position: absolute;

  width: 22px;
  height: 22px;

  font-size: 0;

  border: none;
  background: #f2f2f2 no-repeat;
}

.tour__control--replay {
  top: 22px;
  left: 23px;

  background-image: url("/img/icon-video-replay.svg");
}

.tour__control--subtitles {
  top: 22px;
  right: 73px;

  width: 36px;

  background-image: url("/img/icon-video-subtitles.svg");
}

.tour__control--fullscreen {
  top: 22px;
  right: 23px;

  background-image: url("/img/icon-video-fullscreen.svg");
}


@media (min-width: $tablet-width) {
  .tour {
    width: 650px;
    min-height: 690px;
  }

  .tour__title,
  .tour__description {
    width: 430px;

    text-align: center;
  }

  .tour__description {
    margin-bottom: 77px;
  }

  .tour__title {
    font-size: 30px;
  }

  .tour__player,
  .tour__video {
    width: 650px;
    height: 500px;
  }

  .tour__video {
    width: 100%;
    height: 100%;

    background-image: url("/img/video-tablet@1x.jpg");
  }

  .tour__bar {
    z-index: 2;

    width: 100%;
    height: 92px;
    margin-top: -93px;
    margin-left: 0;

    background: rgba(0, 0, 0, 0.6);
  }

  .tour__indicator {
    margin-left: 24%;
  }

  .tour__line {
    width: 460px;
  }

  .tour__controls {
    position: relative;
    top: -65px;
    left: 0;

    width: 100%;
    height: 66px;

    background-color: transparent;
  }

  .tour__control {
    position: absolute;
    z-index: 3;
  }

  .tour__control--replay {
    top: 10px;
    left: 36px;
  }

  .tour__control--subtitles {
    top: 8px;
    right: 90px;
  }

  .tour__control--fullscreen {
    top: 10px;
    right: 39px;
  }
}

@media (min-width: $desktop-width) {
  .tour__title {
    margin-bottom: 32px;
  }

  .tour__description {
    margin-bottom: 71px;
  }

  .tour__player,
  .tour__video {
    width: 800px;
  }

  .tour__line {
    width: 616px;
  }

  .tour__indicator {
    margin-left: 18%;
  }

  .tour__video {
    background-image: url("/img/video-desktop@1x.jpg");
  }
}
