.welcome {
  position: relative;

  margin: 0 auto;
  width: 320px;
  height: 390px;

  background: white url("/img/bg-back-mobile@1x.jpg") 50% 50% no-repeat;

  &::after {
    position: absolute;
    bottom: 0;

    width: 320px;
    height: 26px;

    background: transparent url("/img/bg-intro-triangle-mobile.svg");

    content: "";
  }
}

.welcome--inner {
  height: 160px;
}

.welcome__legend {
  position: absolute;
  top: 26%;

  width: 100%;
  height: 50%;
}


@media (min-width: $tablet-width) {
  .welcome {

    width: 768px;
    height: 517px;

    background: white url("/img/bg-back-mobile@1x.jpg") 100% 100% no-repeat;

    &::after {
      background: transparent url("/img/bg-intro-triangle-mobile.svg");
    }
  }
}
