.welcome {
  position: relative;

  margin: 0 auto;
  margin-bottom: 37px;

  width: 320px;
  height: 390px;

  background-color: white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 1536px auto;
  }

  &::after {
    position: absolute;
    bottom: 0;

    width: 101%;
    height: 25px;

    background: transparent url("../img/bg-intro-triangle-mobile.svg");

    content: "";
  }
}

.welcome--inner {
  height: 156px;
  background-position: 60%;
}

.welcome--inner .welcome__legend {
  top: 32%;
  height: 25%;
}

.welcome__legend {
  position: absolute;
  top: 23%;

  width: 100%;
  height: 55%;
}


@media (min-width: $tablet-width) {
  .welcome {
    width: 770px;
    height: 517px;
    margin-top: -7px;
    margin-bottom: 47px;

    background-position: 100%;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1536px auto;
    }

    &::after {
      left: 0;

      height: 56px;
      width: 101%;

      background: transparent url("../img/bg-intro-triangle-tablet.svg");
    }
  }

  .welcome--inner {
    margin-bottom: 74px;
    height: 287px;
  }

  .welcome__legend {
    top: 15%;
    height: 67%;
  }

  .welcome--inner .welcome__legend {
    top: 32%;
    height: 28%;
  }
}

@media (min-width: $desktop-width) {
  .welcome {
    width: 1200px;
    height: 519px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1536px auto;
    }

    &::after {
      /**
      add height here
       */
      background: transparent url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  .welcome--inner {
    height: 299px;
    margin-bottom: 114px;
  }
}
