.welcome {
  position: relative;

  margin: 0 auto;
  margin-bottom: 37px;

  width: 320px;
  height: 390px;

  background: white url("/img/bg-back-mobile@1x.jpg") 50% 50% no-repeat;

  &::after {
    position: absolute;
    bottom: 0;

    width: 320px;
    height: 26px;

    background: transparent url("/img/bg-intro-triangle-mobile.svg");

    content: "";
  }
}

.welcome--inner {
  height: 160px;
}

.welcome__legend {
  position: absolute;
  top: 23%;

  width: 100%;
  height: 55%;
}


@media (min-width: $tablet-width) {
  .welcome {
    width: 770px;
    height: 517px;
    margin-top: -7px;
    margin-bottom: 47px;

    background: white url("/img/bg-back-tablet@1x.jpg") 100% 100% no-repeat;

    &::after {
      left: 0;

      height: 57px;
      width: 100%;

      background: transparent url("/img/bg-intro-triangle-tablet.svg");
    }
  }

  .welcome__legend {
    top: 15%;
    height: 67%;
  }
}

@media (min-width: $desktop-width) {
  .welcome {
    @include show-outline(green);

    width: 1200px;
    height: 519px;

    background-position-x: 50%;

    &::after {
      /**
      add height here
       */
      background: transparent url("/img/bg-intro-triangle-desktop.svg");
    }
  }
}
