.welcome {
  position: relative;

  margin: 0 auto;
  margin-bottom: 37px;

  width: 320px;
  height: 390px;

  background: white url("/img/bg-back-mobile@1x.jpg") 50% 50% no-repeat;

  &::after {
    position: absolute;
    bottom: 0;

    width: 320px;
    height: 26px;

    background: transparent url("/img/bg-intro-triangle-mobile.svg");

    content: "";
  }
}

.welcome--inner {
  height: 160px;
}

.welcome__legend {
  position: absolute;
  top: 23%;

  width: 100%;
  height: 55%;
}


@media (min-width: $tablet-width) {
  .welcome {

    width: 700px;
    height: 517px;

    background: white url("/img/bg-back-mobile@1x.jpg") 100% 100% no-repeat;

    &::after {
      background: transparent url("/img/bg-intro-triangle-mobile.svg");
    }
  }
}

@media (min-width: $desktop-width) {
  .welcome {
    @include show-outline(green);

    width: 1200px;
    height: 519px;

    background-position-x: 50%;

    &::after {
      background: transparent url("/img/bg-intro-triangle-mobile.svg");
    }
  }
}
